
.container {
  border: 0.1px solid snow;
  display: flex;
  flex-direction: column;
}




.row {
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.starter {
  width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.kid-free{
  padding-top: 20px;
}









.description {
  padding: 10px;
}



/* 
.starter {
  border: 1px solid #466995;
  margin: 10px;
  width: 100%;
  text-align: center; 
 
}
  
  .starter img {
    width: 100%; 
    height: auto; 
  }
   */
  